 <div class="sidebar">

        <ul class="sidebar-nav">
            <li>
                <a id="navbar-toggle">点我~<i class="fa fa-th-list menu-icon fa-2x" aria-hidden="true"></i></a>
            </li>
            <li>
                <a href="/admin/opencase">新建案例<i class="fa fa-plus-square menu-icon fa-2x" aria-hidden="true"></i></a>
            </li>
            <li>
                <a href="/admin/caselist">案例管理<i class="fa fa-file menu-icon fa-2x" aria-hidden="true"></i></a>
            </li>
            <li>
                <a href="/admin/labels">部门标签管理<i class="fa fa-tags menu-icon fa-2x" aria-hidden="true"></i></a>
            </li>
             <li>
                <a href="/admin/users">人员和资源管理<i class="fa fa-users menu-icon fa-2x" aria-hidden="true"></i></a>
            </li>
            <li>
                <a href="#">账户管理<i class="fa fa-key menu-icon fa-2x" aria-hidden="true"></i>
                    </a>
            </li>

        </ul>
    </div>