{% extends 'layout.html'%}

{% block body %}
<form action="/admin/casesearch" method="post" name="search_case">
    <div class="input-group margin-bottom-sm">
        <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
        <input id="casesearch" class="form-control" type="text" name="search_case" placeholder="输入投诉编号/invoice#/订单号来搜索" value={{request.form.search_case}}>
        <input type="submit" class="btn btn-primary" value="Search">
    </div>
</form>
<br>
<div class="container">
    <div class="row justify-content-start">
        <div class="col-2">
            <div class="dropdown show">
              <a class="btn btn-info dropdown-toggle" href="#" role="button" id="statusdrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                请选择投诉状态
              </a>
                <div class="dropdown-menu" aria-labelledby="statusdrop">
                    <a class="dropdown-item" href="caselist&page=1&new">新投诉</a>
                    <a class="dropdown-item" href="caselist&page=1&processing">处理中</a>
                    <a class="dropdown-item" href="caselist&page=1&w_response">等待回复</a>
                    <a class="dropdown-item" href="caselist&page=1&w_confirm">等待确认</a>
                    <a class="dropdown-item" href="caselist&page=1&w_email">等待邮件</a>
                    <a class="dropdown-item" href="caselist&page=1&report">反映情况</a>
                    <a class="dropdown-item" href="caselist&page=1&solved">已解决</a>
                    <a class="dropdown-item" href="caselist">全部</a>
                </div>
            </div>
        </div>
    </div>
</div>

<hr class="my-3">
<h3 class="text-primary">投诉案件列表</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">投诉编号</th>
      <th scope="col">案件状态</th>
      <th scope="col">创建时间</th>
      <th scope="col">代理商</th>
      <th scope="col">Invoice#</th>
      <th scope="col">操作</th>
    </tr>
  </thead>
  <tbody>
    {% for case in caseinfos %}
    <tr>
        <th scope="row"><a href="casedetails/{{case.qc_num}}">{{case.qc_num}}</a></th>
        <td class="">
            <a role="button" class="btn btn-outline-danger btn-sm text-danger" data-toggle="modal" data-target="#c_status" data-qcID="{{case.qc_num}}">
                {{ {"processing": "处理中", "new": "新投诉", "w_response": "等待回复", "w_confirm": "等待确认", "w_email": "等待邮件", "report": "反映情况", "solved": "已解决", "cancel": "投诉取消", "terminated": "投诉终止"}[case.status] | default("New") }}
            </a>
        </td>
        <td>{{case.creat_date}}</td>
        <td style="width: 170px;">{{case.name}}</td>
        <td>{{case.invoice}}</td>
        <td>
            <div class="btn-group" role="group">
                <a href="caselabels/{{case.qc_num}}" class="btn btn-primary btn-sm">案例归类</a>
                <a href="editcase/{{case.qc_num}}" class="btn btn-info btn-sm">编辑案例</a>
                <a href="caseattachment/{{case.qc_num}}" class="btn color_attach btn-sm">附件管理</a>
                <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#c_processing" data-qcID="{{case.qc_num}}">处理进度</button>
                <a href="caseresult/{{case.qc_num}}" class="btn btn-success btn-sm">处理结果</a>
                <a href="caseotherinfo/{{case.qc_num}}" class="btn btn-dark btn-sm">其他信息</a>
            </div>
        </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<nav aria-label="Page navigation example">
  <ul class="pagination">
      <li class="page-item"><a class="page-link" href="/admin/caselist&page=1&{{status}}">Frist page</a></li>
      {% if pages <= 3 %}
      {% for page in range(pages) %}
        <li class="page-item"><a class="page-link" href="/admin/caselist&page={{page + 1}}&{{status}}">{{page + 1}}</a></li>
      {% endfor %}
      {% else %}
        <div class="dropdown show" style="padding-right:10px; padding-left:10px;">
          <a class="btn page-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Go to Page...
          </a>

          <div class="dropdown-menu scrollable-Drop-menu" aria-labelledby="dropdownMenuLink">
            {% for page in range(pages) %}
            <a class="page-link" href="/admin/caselist&page={{page + 1}}&{{status}}">{{page + 1}}</a>
            {% endfor %}
          </div>
        </div>

      {% endif %}
      <li class="page-item"><a class="page-link" href="/admin/caselist&page={{pages}}&{{status}}">Last page</a></li>
  </ul>
</nav>


<div class="modal fade" id="c_status" tabindex="-1" role="dialog" aria-labelledby="statusModal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-primary" id="statusModal">修改状态</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/admin/changestatus" method="post" name="change_status">
          <div class="form-group">
            <label for="status_select" class="col-form-label">请选择投诉状态:</label>
            <select class="form-control" id="status_select" name="s_status">
                <option value="processing">处理中</option>
                <option value="w_response">等待回复</option>
                <option value="w_confirm">等待确认</option>
                <option value="w_email">等待邮件</option>
                <option value="report">反映情况</option>
                <option value="solved">已解决</option>
                <option value="cancel">投诉取消</option>
                <option value="terminated">投诉终止</option>
            </select>
          </div>
          <div class="form-group">
            <label for="status-message-text" class="col-form-label">修改理由: <spam class="text-danger font-weight-bold">*必填</spam></label>
            <textarea class="form-control" id="status-message-text" name="s_message_t" required></textarea>
          </div>
            <input type="hidden" id="qcid-value" name="s_qc_id" value="null">
            <input type="hidden" name="s_qc_id" value="null">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">返回</button>
            <input type="submit" class="btn btn-primary pull-right" value="提交">
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="c_processing" tabindex="-1" role="dialog" aria-labelledby="processingModal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-primary" id="processingModal">处理进度</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/admin/caseprocessing" method="post" name="change_processing">
          <div class="form-group">
            <label for="status-message-text" class="col-form-label">本次处理结果<spam class="text-danger font-weight-bold">*必填</spam></label>
            <textarea rows="15" class="form-control" id="processing-message-text" name="p_message_t" required></textarea>
          </div>
            <input type="hidden" id="qcid-value-p" name="p_qc_id" value="null">
            <input type="hidden" name="p_qc_id" value="null">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">返回</button>
            <input type="submit" class="btn btn-primary pull-right" value="提交">
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}