{% extends 'layout.html'%}

{% block body %}
<form action="/admin/searchlabel" method="post" name="search_form">
    <div class="input-group margin-bottom-sm">
        <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
        <input id="labelsearch" class="form-control" type="text" name="search" placeholder="输入标签名来搜索" value={{request.form.search}}>
        <input type="hidden" name="is_parent" value="0" />
        <input type="submit" class="btn btn-primary" value="Search">
    </div>
</form>
<br>
<a href="/admin/addlabel" class="btn btn-primary pull-right">新增标签</a>
<h3 class="text-primary">标签列表</h3>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">标签名</th>
      <th scope="col">上级标签</th>
    </tr>
  </thead>
  <tbody>
    {% for label in labels %}
    <tr>
        <th scope="row"><a href="#">{{label.title}}</a></th>
        <td>
            {% if label.parent == '0' %}
            顶级标签
            {% endif %}
        </td>
        <td><a href="childlabels&{{label.title}}" class="btn btn-success">子标签</a></td>
        <td><a href="editlabel/{{label.label_num}}&" class="btn btn-info">编辑</a></td>
        <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" data-delID="{{label.label_num}}&">删除</button></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<nav aria-label="Page navigation example">
  <ul class="pagination">
      <li class="page-item"><a class="page-link" href="/admin/labels&page=1">Frist page</a></li>
      {% if pages <= 3 %}
      {% for page in range(pages) %}
        <li class="page-item"><a class="page-link" href="/admin/labels&page={{page + 1}}">{{page + 1}}</a></li>
      {% endfor %}
      {% else %}
        <div class="dropdown show" style="padding-right:10px; padding-left:10px;">
          <a class="btn page-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Go to Page...
          </a>

          <div class="dropdown-menu scrollable-Drop-menu" aria-labelledby="dropdownMenuLink">
            {% for page in range(pages) %}
            <a class="page-link" href="/admin/labels&page={{page + 1}}">{{page + 1}}</a>
            {% endfor %}
          </div>
        </div>

      {% endif %}
      <li class="page-item"><a class="page-link" href="/admin/labels&page={{pages}}">Last page</a></li>
  </ul>
</nav>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger" id="exampleModalLabel">警告！</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        真的要删除吗？真的要吗？<br>不要了吧~录入很辛苦的~还是改一改吧~<br>而且你确定它没有子标签？有点话是不能删的哦~
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">听你的不删</button>
        <a href="deletelabel/" class="btn btn-danger" id="del_a">狠心删除！</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}