{% extends 'layout.html'%}

{% block body %}
<form action="/admin/searchuser" method="post" name="search_form">
    <div class="input-group margin-bottom-sm">
        <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
        <input id="labelsearch" class="form-control" type="text" name="search" placeholder="输入用户名来搜索" value={{request.form.search}}>
        <input type="submit" class="btn btn-primary" value="Search">
    </div>
</form>
<hr class="my-3">
<a href="adduser" class="btn btn-primary pull-right">新增人员</a>
<div class="dropdown show pull-right">
  <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    请选择用户类型
  </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="users&page=1&driver">司机</a>
        <a class="dropdown-item" href="users&page=1&guide">导游</a>
        <a class="dropdown-item" href="users&page=1&agent">代理</a>
        <a class="dropdown-item" href="users&page=1&bus">巴士</a>
        <a class="dropdown-item" href="users&page=1&hotel">酒店</a>
        <a class="dropdown-item" href="users&page=1&other">其他</a>
        <a class="dropdown-item" href="users">全部</a>
    </div>
</div>
<h3 class="text-primary">人员信息列表</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">名称</th>
      <th scope="col">类别</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
        <th scope="row"><a href="#">{{user.name}}</a></th>
        <td>
            {{user.type}}
        </td>
        <td><a href="edituser/{{user.id}}" class="btn btn-info">编辑</a></td>
        <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" data-delID="{{user.id}}">停用</button></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<nav aria-label="Page navigation example">
  <ul class="pagination">
      {% if user_type == 'whole'%}
          <li class="page-item"><a class="page-link" href="/admin/users&page=1">Frist page</a></li>
          {% if pages <= 3 %}
          {% for page in range(pages) %}
            <li class="page-item"><a class="page-link" href="/admin/users&page={{page + 1}}">{{page + 1}}</a></li>
          {% endfor %}
          {% else %}
            <div class="dropdown show" style="padding-right:10px; padding-left:10px;">
              <a class="btn page-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Go to Page...
              </a>

              <div class="dropdown-menu scrollable-Drop-menu" aria-labelledby="dropdownMenuLink">
                {% for page in range(pages) %}
                <a class="page-link" href="/admin/users&page={{page + 1}}">{{page + 1}}</a>
                {% endfor %}
              </div>
            </div>

          {% endif %}
          <li class="page-item"><a class="page-link" href="/admin/users&page={{pages}}">Last page</a></li>
      {% else %}
            <li class="page-item"><a class="page-link" href="/admin/users&page=1&{{user_type}}">Frist page</a></li>
            {% if pages <= 3 %}
            {% for page in range(pages) %}
            <li class="page-item"><a class="page-link" href="/admin/users&page={{page + 1}}&{{user_type}}">{{page + 1}}</a></li>
            {% endfor %}
            {% else %}
            <div class="dropdown show" style="padding-right:10px; padding-left:10px;">
              <a class="btn page-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Go to Page...
              </a>

              <div class="dropdown-menu scrollable-Drop-menu" aria-labelledby="dropdownMenuLink">
                {% for page in range(pages) %}
                <a class="page-link" href="/admin/users&page={{page + 1}}&{{user_type}}">{{page + 1}}</a>
                {% endfor %}
              </div>
            </div>

          {% endif %}
          <li class="page-item"><a class="page-link" href="/admin/users&page={{pages}}&{{user_type}}">Last page</a></li>
      {% endif %}
  </ul>
</nav>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger" id="exampleModalLabel">警告！</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        真的要删除吗？真的要吗？<br>不要了吧~录入很辛苦的~还是改一改吧~
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">听你的不删</button>
        <a href="deleteuser/" class="btn btn-danger" id="del_a">狠心删除！</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}